.mainContainer {
  border: 2px solid black;
  padding: 50px;
}

.movie__row,
.restaurant__row {
  width: 50%;
  float: left;
  padding: 40px;
  border: 2px solid red;
  margin-bottom: 100px;
  justify-content: space-around;
}

.movie__SubRow,
.restaurant__SubRow {
  padding: 40px;
  border: 2px solid red;
  margin: 30px;
}

.favorite__header {
  text-transform: uppercase;
  text-decoration: underline;
}

.placeholder__paragraph {
  margin: 200px;
  padding: 40px;
  font-size: xx-large;
  font-weight: bolder;
  border-radius: 50px;
  box-shadow: 0 0 40px 2px #eaeaea;
}
