html, .mainContainer, #root{
  background-color:#7fdfd4 ;  
}


.favorites__refresh{
  border: 1px solid black;
  outline: none;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  background-color: hsl(173, 100%, 69%);
}
.favorites__refresh:hover{
  outline: none;
  background-color: hsl(173, 60%, 69%);
  box-shadow: 0 0 10px 2px black;
}
.favorites__refresh:active{
  outline: none;
  background-color: #fbe1b6;
  box-shadow: 0 0 5px 1px black inset;
}


.movie__row,
.restaurant__row {
  width: 50%;
  float: left;
  padding: 40px;
  margin-bottom: 100px;
  justify-content: space-around;
}

.movie__SubRow,
.restaurant__SubRow {
  text-align: center;
  padding: 10px;
  height: 300px;
  margin-bottom: 300px;
  border-radius: 20px;
  box-shadow: 0 0 20px 3px black
}

.favorite__header {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 50px;
}

.placeholder__paragraph {
  margin: 200px;
  /* padding: 40px; */
  font-size: xx-large;
  font-weight: bolder;
  border-radius: 50px;
  box-shadow: 0 0 40px 2px #eaeaea;
}

.movie__rating, .movie__title, .movie__description{
  padding: 20px;
}

.movie__title{
  font-size: xx-large;
  font-weight: bolder;
}

