.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formColumns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.form-input {
  margin: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignupForm {
  background-color: #a7efe9;
}

/* .red {
  background-color: darkred;
} */
