/* .container {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.container,
.signupHead {
  color: white;
}

.row {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: #151c15;
  border: 2px solid black;
  border-radius: 40px;
  box-shadow: 0 0 40px black;
}
form.signup {
  margin-top: 40px;
} */
