.homePage_Main {
  margin: 0;
}
.restaurantSection,
.section__card {
  border: 1px solid black;
  /* margin: 100px; */
}

.movieSection {
  background-image: url("../../images//movieSection.JPG");
  background-size: cover;
  background-repeat: none;
  background-position: center;
  height: 1000px;
}


.section__card{
    border-radius: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-right: auto;
}

.section__content{
    margin-top: 30px;
}