.movie__main {
  background-image: url("../../images/movieMain.JPG");
  height: 2000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.genre_button {
  border: 1px solid black;
  outline: none;
  padding: 10px;
  margin: 10px;
  width: 100px;
  height: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  background-color: hsl(173, 100%, 69%);
}

.menu__button{
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  margin-top: 40px;
  width: 200px;
  height: 100%;
  cursor: pointer;
  text-align: center;
  border-radius: 30px;
  background-color: hsl(173, 100%, 69%);
}
.genre_button:hover, .menu__button:hover, .movie__favorite:hover {
  outline: none;
  background-color: hsl(173, 60%, 69%);
  box-shadow: 0 0 10px 2px black;
}
.genre_button:active, .menu__button:active, .movie__favorite:active {
  outline: none;
  background-color: #fbe1b6;
}


.movie__favorite {
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: inherit;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px 20px;
  cursor: pointer;
  background-color: hsl(173, 100%, 69%);
}

.genres_bar {
  display: flex;
  height: 10vh;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.genre-container {
  width: 100%;
}

.movie_main {
  margin-bottom: 40px;
  padding-bottom: 100px;
  padding-top: 40px;
}

.genres {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.description {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.movieInfo {
  border: 0px solid black;
  border-radius: 45px;
  box-shadow: 0 0 45px 10px black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 50%;
  padding: 20px;
}

.movie_poster {
  border-radius: 50px;
  box-shadow: 0 0 30px 10px black;
}

.movie_title {
  font-size: 50px;
  padding-bottom: 20px;
}

.movieName__placeholder {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 40px;
}

.placeholder {
  width: 60%;
  /* border: 1px solid black; */
  padding: 40px;
  font-size: xx-large;
  font-weight: bolder;
  border-radius: 50px;
  box-shadow: 0 0 45px 30px #686d76;
  background-color: #7fdfd4;
}

.fade-in2 {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @media screen and (max-width: 600px) {
  .movie__main {
    background-image: url("../../images/movieMain.JPG");
    height: 2500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .genres_bar {
    display: inline;
    float: left;
    padding: 40px;
    margin-bottom: 100px;
    justify-content: space-around;
  }
} */
